header{
    text-align: center;
    font-family: 'Grandstander', cursive;
}

.blur{
    background-color: transparent;
    backdrop-filter: blur(1000px);
    font-family: 'Grandstander', cursive;

}
 
.colortext{
    color: white;
}

.cont{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.tamanho{
    font-size: 300%;
}

@media only screen and (max-width: 600px) {
    header{
     font-size: medium;
    }
 }
