.circle-photo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    opacity: 90%;
}

.texto{
    font-family: 'Montserrat', sans-serif;
    color: white;
  }

.titulo{
      font-size: 22px;
      align-items: center;
      font-family: 'Turret Road', cursive;
      font-weight: bold;
      color: white;
}
  

.bg-card1{
    background-color: transparent!important;
    margin-bottom: 10px;;
    backdrop-filter: blur(50px);
    border-radius: 30px!important;
    padding-top: 10%;
    padding-bottom: 10%;
}
