.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.2s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.texto{
  font-family: 'Montserrat', sans-serif;;
}

body{
  background-image: url(https://uhdwallpapers.xyz/media/images/ori/2020/08/16/abstract-color-smoke-4k-5k-hd-abstract-wallpaper-3396591597593325.jpg);
  background-size: 100%;
  background-attachment: fixed;
}